<%- include("./includes/header.ejs", {title: title}); %>

    <div align="center" style="border:1px solid red">
    <h1><b><%= title %></b></h1>
    <h2><i><b>Welcome Elite Gamers</b></i></h2>
    <img src="http://s1.dmcdn.net/LK6w4/1280x720-xi-.jpg" alt="actual_screenshot_lol">
    <h3> Carl On Duty is a multiplayer game only EXTREME GAMERS with good aim, accuracy and a comptetitive drive. Play as Carl and choose from tons of different weapons to fight evil undead creatures. Save your mall from these horrid creatures before they kill you. This game is <u>extremely competitive</u> so go home noobs, leaderboards can be found on the main website<h3>
    <h4> for all the nerds out there heres the database:(Note I am having issues getting static images to work so i put them in anyway🤷)<h4>
    <img src="/images/er.PNG"/>
    <img src="/images/rs.PNG"/>

    </div>



<%- include("./includes/footer.ejs"); %>
