<%- include("./includes/header.ejs", {title: title}); %>

    <div align="center" style="border:1px solid red">
    <h1><b><%= title %></b></h1>
    <h2><b>Welcome To The Official Site For <%= title %></b></h2>
    <a href="/leaderboard"><b>LEADERBOARD</b></a> <br>
    <a href="/about"><b>About Page</b></a> <br>
    <h3><b><i><u>ADMIN ONLY:</u></i></b></h3>
    <a href="/all/game_rank">View Ranks</a> <br>
    <a href="/all/game_account">View Accounts</a> <br>
    <a href="/all/weapon_stats">View Weapons</a> <br>
    <a href="/all/game_match">View game_match</a> <br>
    <img src="http://a.fod4.com/images/user_photos/1154836/FJLYw_square_fullsize.jpeg" alt="Carl">
    </div>



<%- include("./includes/footer.ejs"); %>
