<%- include("./includes/header.ejs", {title: title}); %>

    <div align="center" style="border:1px solid red">
    <h1><b><%= title %></b></h1>
    <h2><i><b>SCORES</b></i></h2>
    <h3>I spent about 6+ hours trying to get the ejs to work with my query and it wasnt working so heres what it would look like if it worked</h3>
    <img src="https://i.ytimg.com/vi/lcvhOTokZPk/maxresdefault.jpg" alt="darn">
    <h4> I honestly tried and I'm not happy about it not working because that was going to be my favorite part of the website </h4>
    </div>



<%- include("./includes/footer.ejs"); %>
